{% extends 'base.html' %}
{% load tailwind_filters %}
{% load l10n %}
{% load static %}
{% block content%}


<head>  
  <script src="{% static "/js/flatpickr.js" %}"> </script>
  <link rel="stylesheet" href="{% static "/css/flatpickr.css" %}">
</head>
<form method="GET" action= "">
<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Pregled mjesečnih izvještaja</h1>
  </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="start_date" class="leading-7 text-sm text-gray-600">od datuma</label>
            <input type="text" id="start_date" name="start_date"  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
 
              <label for="end_date" class="leading-7 text-sm text-gray-600">Do datuma</label>
              <input type="text" id="end_date" name="end_date" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="Report_type" class="leading-7 text-sm text-gray-600">Vrsta izvještaja</label>
            <select id="Report_type" name="Report_type" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              <option value="kif"> KIF za period - ugovori</option>
              <option value="uplate"> Uplate za period - ugovori</option>

              {%if user.is_superuser %}
              <option value="rekapitulacija_zbirno"> Rekapitulacija zbirno</option>
              {% endif %}
              <option value="rekapitulacija_pojedinacno"> Rekapitulacija</option>
             </select>
            </div>
        </div>
        {%if user.is_superuser %}
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="User_selected" class="leading-7 text-sm text-gray-600">Filter za korisnika</label>
            <select id="User_selected" name="User_selected" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              {% for user in usr%}
              <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
              {% endfor%}
             </select>
            </div>
        </div>
        {% endif %}
        <div class="p-2 w-full">
          <button type="submit"  name="Pregled" value="Pregled"  class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Pregled</button>
        </div>

      </div>
    </div>
  </div>
</section>



  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const startDateInput = document.getElementById('start_date');
      const endDateInput = document.getElementById('end_date');
      const currentYear = new Date().getFullYear();
      flatpickr(startDateInput, {
        altInput: true,
        altFormat: 'd.m.Y', // Date format: dd.mm.yyyy
        dateFormat: 'Y-m-d', // Flatpickr sends the date to your server in this format
        allowInput: true,
        defaultDate: `${currentYear}-01-01`
        // You can add more options here according to your needs
      });
  
      flatpickr(endDateInput, {
        altInput: true,
        altFormat: 'd.m.Y',
        dateFormat: 'Y-m-d',
        allowInput: true,
        defaultDate: `${currentYear}-12-31`
        // More options for the end date picker if needed
      });


    });
</script>

</form>


{% endblock content%}

