{%load static %}


<head> 

  <style>
      @media only screen and (min-width: 100px){
          .parent:hover .child {
              opacity:1;
              height:auto;
              overflow:none;
              transform: translateY(0);
          }
          .child {
              opacity:0;
              height:0;
              overflow:hidden;
              transform: translateY(-10%);
              z-index: 1000;
          }
      }
      
  </style>

</head>
  <header class="text-gray-600 body-font">
    {% if request.user.is_authenticated %}
      <nav id="navbar_operator" class="flex px-4 border-b md:shadow-lg items-center relative ">
          <div class="text-lg font-bold md:py-0 py-4">
            
            <a href="{% url "landing-page"%}">Početna strana</a>
          </div>
          <ul class="md:px-2 ml-auto md:flex md:space-x-2 absolute md:relative top-full left-0 right-0">
       
            
              
              
              {% if request.user.is_superuser %}
              <li class="relative parent">
                <a href="#" class="flex justify-between md:inline-flex p-4 items-center hover:bg-gray-50 space-x-2">
                    <span>Administracija</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
                </a>
                <ul class="child transition duration-300 md:absolute top-full right-0 md:w-48 bg-white md:shadow-lg md:rounded-b ">
                    <li>
                        <a href="{% url "kupoprodaja:podaci-firma"%}" class="flex px-4 py-3 hover:bg-gray-50">
                            Firma
                        </a>
                    </li>
                    <li>
                      <a href="{% url "kupoprodaja:lista-korisnika"%}" class="flex px-4 py-3 hover:bg-gray-50">
                          Korisnici
                      </a>
                    </li>
                    <li>
                        <a href="{% url "kupoprodaja:lista-poslovnica"%}" class="flex px-4 py-3 hover:bg-gray-50">
                            Poslovne jedinice
                        </a>
                    </li>
                    <li>
                      <a href="{% url "kupoprodaja:vrste-vozila"%}" class="flex px-4 py-3 hover:bg-gray-50">
                          Vrste vozila
                      </a>
                  </li>
                  <li>
                    <a href="{% url "kupoprodaja:vrste-goriva"%}" class="flex px-4 py-3 hover:bg-gray-50">
                        Vrste goriva
                    </a>
                </li>

                <li>
                    <a href="{% url "kupoprodaja:banke-lista"%}" class="flex px-4 py-3 hover:bg-gray-50">
                        Banke
                    </a>
                </li>
                <li>
                    <a href="{% url "kupoprodaja:lista-izvoda"%}" class="flex px-4 py-3 hover:bg-gray-50">
                        Izvodi
                    </a>
                </li>

            
                </ul>
            </li>
            {%endif%}
            <!-- ovdje završava-->
              <li class="relative parent">
                  <a href="#" class="flex justify-between md:inline-flex p-4 items-center hover:bg-gray-50 space-x-2">
                      <span>Ugovori</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
                  </a>
                  <ul class="child transition duration-300 md:absolute top-full right-0 md:w-48 bg-white md:shadow-lg md:rounded-b ">
                      <li>
                          <a href="{% url "kupoprodaja:lista-ugovora"%}?page=1" class="flex px-4 py-3 hover:bg-gray-50">
                              Lista ugovora
                          </a>
                      </li>
                      <li>
                        <a href="{% url "kupoprodaja:kreiraj-ugovor"%}" class="flex px-4 py-3 hover:bg-gray-50">
                            Kreiraj ugovor
                        </a>
                      </li>
                      <li>
                          <a href="{% url "kupoprodaja:ugovor-nacrt" %}?page=1" class="flex px-4 py-3 hover:bg-gray-50">
                              Nezaključeni ugovori
                          </a>
                      </li>
                      <li>
                        <a href="{% url "kupoprodaja:storno-zahtjevi" %}?page=1" class="flex px-4 py-3 hover:bg-gray-50">
                            Zahtjevi za storno
                        </a>
                    </li>
                    <li>
                      <a href="{% url "kupoprodaja:storno-odobren" %}?page=1" class="flex px-4 py-3 hover:bg-gray-50">
                          Stornirani ugovori
                      </a>
                    </li>
                    <li>
                        <a href="{% url "kupoprodaja:lista-pregled" %}?page=1" class="flex px-4 py-3 hover:bg-gray-50">
                            Zahtjevi za pregled
                        </a>
                      </li>
                  <li>
                    <a href="{% url "kupoprodaja:storno-statistika"%}" class="flex px-4 py-3 hover:bg-gray-50">
                        Status ugovora
                    </a>
                  </li>
                  </ul>
              </li>
              <!-- ovdje završava-->
              <li>
                <a href="{% url "kupoprodaja:izvjestaji"%}" class="flex md:inline-flex p-4 items-center hover:bg-gray-50">
                    <span>Izvještaji</span>
                </a>
            </li>

                 <!-- ovdje završava-->

                 <li class="relative parent">
                    <a href="#" class="text-red-600 flex md:inline-flex p-4 items-center hover:bg-gray-50">
                        <span>{{ request.user.username}}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
                    </a>
                    <ul class="child transition duration-300 md:absolute top-full right-0 md:w-48 bg-white md:shadow-lg md:rounded-b ">
                        <li>
                            <a id="password_update" href="#" class="flex px-4 py-3 hover:bg-gray-50" data-user-id="{{ request.user.id }}" >
                                Izmjena šifre
                            </a>
                        </li>
                        
                    </ul>
                </li>

            <!-- ovdje završava-->
               
              <li>
                <a href="{% url "logout" %}" class="flex md:inline-flex p-4 items-center hover:bg-gray-50">
                    Odjava
                    
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                </a>
              </li>

          </ul>
          <div class="ml-auto md:hidden text-gray-500 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>

        </div>
      </nav>
      {%endif%}
      <script>
      

        const passwordUpdateLink = document.getElementById("password_update");

        passwordUpdateLink.addEventListener("click", function(event) {
            event.preventDefault();
        
            // Get the user ID from the data attribute
            const userId = passwordUpdateLink.getAttribute("data-user-id");
        
            // Construct the redirect URL with the user ID
            const redirectUrl = `/ugovori/${userId}/izmjenesifre`;
        
            // Redirect the user to the constructed URL
            window.location.href = redirectUrl;
        });


      </script>
  
</header >